<div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th class="table-primary"></th>
            <th class="table-primary">Change</th>
            <th class="table-primary">No Change</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th class="table-primary">Wins</th>
            <td class="table-info">{{ wins }}</td>
            <td class="table-info">{{ losses }}</td>
        </tr>

        <tr>
            <th class="table-primary">Percentage</th>
            <td class="table-info">{{ winPercentage | percentage }}</td>
            <td class="table-info">{{ lossesPercentage | percentage }}</td>
        </tr>
        </tbody>
    </table>
</div>
