{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row my-2">
            <div class="col page-header">
                <h1>Monty Hall Problem Simulator</h1>
                <p class="lead">Suppose you're on a game show, and you're given the choice of three doors: Behind one door is a car; behind the others, goats. You pick a door, say No. 1, and the host, who knows what's behind the doors, opens another door, say No. 3, which has a goat. He then says to you, "Do you want to pick door No. 2?" Is it to your advantage to switch your choice?
                </p>
                <p class="lead">Simulate this riddle and see your chances of winning!</p>
            </div>
        </div>

        <div class="row my-2">
            <div class="col">
                <form class="form-inline">
                    <label for="attempts" class="sr-only">Attempts</label>
                    <input type="text"
                           name="attempts"
                           id="attempts"
                           class="form-control mb-2 mr-sm-2 mb-sm-0"
                           placeholder="Attempts">
                    <button class="btn btn-primary" id="submitBtn">Submit</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="alert alert-danger hide" id="alert"></p>
            </div>
        </div>

        <div class="row my-4">
            <div id="result" class="col"></div>
        </div>
    </div>
{% endblock %}
