{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row my-2">
            <div class="col page-header">
                <h1>Monty Hall Problem Simulator</h1>
                <p class="lead">Suppose you're on a game show. There are 3 doors, behind one of the doors there's a car, the others, goats. You're asked to pick a door. Then the host, who knows what's behind all the doors, opens another door which has a goat behind it. He then asks if you want to switch to the other door or stick with the first door. Is it in your interest to switch?</p>
                <p class="lead">Simulate this riddle and see your chances of winning!</p>
            </div>
        </div>

        <div class="row my-2">
            <div class="col">
                <form class="form-inline">
                    <label for="attempts" class="sr-only">Attempts</label>
                    <input type="text"
                           name="attempts"
                           id="attempts"
                           class="form-control mb-2 mr-sm-2 mb-sm-0"
                           placeholder="Attempts">
                    <button class="btn btn-primary" id="submitBtn">Submit</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="alert alert-danger hide" id="alert"></p>
            </div>
        </div>

        <div class="row my-4">
            <div id="result" class="col"></div>
        </div>
    </div>
{% endblock %}
