{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>Monty Hall Problem Simulator</h1>
            </div>
        </div>

        <div class="row">
            <form class="form-inline">
                <label for="attempts" class="sr-only">Attempts</label>
                <input type="text"
                       name="attempts"
                       id="attempts"
                       class="form-control mb-2 mr-sm-2 mb-sm-0"
                       placeholder="Attempts">
                <button class="btn btn-primary" id="submitBtn">Submit</button>
            </form>
        </div>

        <div id="results"></div>
    </div>
{% endblock %}
